{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="{% static '/css/bootstrap/bootstrap.min.css'%}">-->
  <link rel="stylesheet" href="{% static '/css/blog.css' %}">
  <link rel="stylesheet" href="{% static '/css/new_blog.css' %}">
  <title>MyBlog @Admin</title>
  <link rel="icon" href='{% static "img/logo.jpg" %}' type="image/x-icon">

  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% bootstrap_javascript jquery=True %}

  <!-- user defined css files -->
  <link rel="stylesheet" href="{% static 'css/logo.css' %}">
</head>

<body>
  <!-- admin navbar -->
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/Ad/home">
          <img class="my-blog-logo rounded-circle" src='{% static "img/logo.jpg" %}' alt="">
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Admin</a>
            <ul class="dropdown-menu">
              <a href="/Ad/new/admin" class="dropdown-item">Add Admin</a>
            </ul>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Users</a>
              <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Manage Users</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Blogs</a>
              <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Manage Blogs</a>
              </div>
            </div>
          </li>
          {% if admin %}
          <li class="nav-item">
            @{{admin.avatar}}
          </li>
          {% endif %}
        </ul>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Blogs</button>
        </form>
      </div>
    </nav>
  </div>
  <!--end- admin navbar-->

  {% block content %}
  {% endblock content %}

</body>

</html>