{% extends 'admin_template.html' %}
{% load static %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_javascript jquery=True %}

{% block content %}
  <div class="block-container admin_main_block">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th class="admin_table_sno" scope="col">#</th> 
          <th class="admin_table_blog_name" scope="col">Blog</th>
          <th class="admin_table_author_name" scope="col">Author</th>
          <th scope="col">Publish Date</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
      {% for blog in blogs %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="{% url 'admin_blog_display' blog_id=blog.id %}">{{blog.title}}</a></td>
        <td><a href="{% url 'admin_user_display' id=blog.author_id %}">{{blog.avatar}}</a></td>
        <td>{{blog.publish_date}}</td>
        <td><a class="btn btn-danger btn-sm admin_table_button" href="{% url 'admin_blog_delete_display' id=blog.id %}">Delete</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}