{% extends 'blog/user_management.html' %}

<!--Load static files-->
{% load static %}

<!-- loading crispy forms-->
{% load crispy_forms_tags %}

<!--Load the block -->
{% block user_account_content %}

<div class="row">
    <div class="col-2"></div>

    <!--start- update-->
    <div class="col-8">
        <div class="container my-new-blog-container">
            <div class="my-blog-title">
                <h4>Bio Update</h4>
            </div>
            <hr>

            <!--start- form-->
            <form name="form" action="{% url 'blog_author_bio_update' %}" method="POST">{% csrf_token %}
                <div class="form-group">
                    {{form.name|as_crispy_field}}
                </div>
                <div class="form-group">
                    {{form.avatar|as_crispy_field}}
                </div>
                <div class="form-group">
                    {{form.description|as_crispy_field}}
                </div>
                <div class="form-group">
                    {{form.password|as_crispy_field}}
                </div>
                <div class="my-blog-update-button">
                    <button type="submit" class="btn btn-success">
                        <h5 class="my-blog-heading-text">Update</h5>
                    </button>
                </div>
            </form>
            <!--end- form-->
            
        </div>
    </div>
    <!--end- update-->

    <div class="col-2"></div>
</div>

{% endblock user_account_content %}