{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="{% static '/css/bootstrap/bootstrap.min.css'%}">-->
    
    <link rel="stylesheet" href="{% static '/css/blog.css' %}">
    <link rel="stylesheet" href="{% static '/css/user_management.css' %}">
    <link rel="stylesheet" href="{% static '/css/logo.css' %}">
    <title>{% block title %}{% endblock %}</title>
  
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_javascript jquery=True %}
</head>

<body>
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="/">
                        <img class="my-blog-logo rounded-circle" src='{% static "img/logo.jpg" %}' alt="">
                    </a>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>

                        <!-- start-New Blog -->
                        <!-- User is able to add new block only when user is logged in-->
                        {% if box.avatar %}
                        <li class="nav-item">
                            <a class="nav-link" href="/Blog/newBlog">AddBlog</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/Blog/author/signin">AddBlog</a>
                        </li>
                        {% endif %}
                        <!-- end-New Blog-->


                        {% if box.avatar %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog_author_blog_display' %}">MyBlogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{box.avatar}}</a>
                        </li>

                        {% else %}
                        <!--sign in/ sign up options are displayed only when user is not logged in-->
                        <li class="nav-item">
                            <a class="nav-link" href="/Blog/author/signin">LogIn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Blog/author/signup">SignUp</a>
                        </li>
                        {% endif %}
                    </ul>

                    <form class="form-inline my-2 my-lg-0" action="{% url 'blog_search' %}" method="POST">
                        {% csrf_token %}
                        <input class="form-control mr-sm-2" type="search" placeholder="Search Blog" aria-label="Search"
                            name="content">
                        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                    </form>

                    <!--start- logout button -->
                    <!--user is able to logout once it is already logged in-->
                    {% if box.avatar %}
                    <div class="form-inline my-2 my-lg-0">
                        <div class="nav-item">
                            <div class="nav-linkt">
                                <a class="nav-link" href="/Blog/author/logout">Logout</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <!-- here we have the rest of the templates -->
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>

</html>