<!--Loding the base.html -->
{% extends 'blog/user_management.html' %}

<!--Load static files-->
{% load static %}

<!--Load the block -->
{% block user_account_content %}
<!-- user content -->
<div class="container user_content">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            {% for blog in blogs %}
            <div class="container-fluid blog_box">
               <div class="row">
                   <div class="col blog_title">{{blog.title}}</div>
               </div>
               <hr>
               <div class="row">
                   <div class="col blog_content">
                       <p>{{blog.content}}</p>
                   </div>
               </div>
               <hr>
               <div class="row">
                   <div class="col blog_author_info">
                        <ul>
                            <li>@Publilsh Date : <small>{{blog.publish_date}}</small></li>
                            <li>@Last Modified : <small>{{blog.last_modified}}</small></li>
                        </ul>
                   </div>
               </div>
               <div class="row blog_button">
                   <div class="col"><a class="btn btn-primary" href="{% url 'blog_update_page' blog_id=blog.id%}">Update</a></div>
                   <div class="col"><a class="btn btn-danger" href="{% url 'blog_delete_confirmation' blog_id=blog.id%}">Delete</a></div>
               </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-2"></div>
    </div>
</div>

{% endblock user_account_content %}