{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="container my-new-blog-container">
      <div class="my-blog-title">
        <h4>LogIn</h4>
      </div>
      <hr>
      <form name="form" action="/Blog/author/signin/confirm" method="POST">
        {% csrf_token %} 

        <!-- Show error message -->
        {% if err.msg %}
        <div class="alert alert-danger" role="alert">
          {{err.msg}}
        </div>
        {% endif %}

        {{form}}
        
        <div class="my-button">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-2"></div>
</div>

{% endblock content %}